{% extends 'base.html' %} {%block title%} {{title}} :: {{block.super}}
{%endblock%} {% block sidebar %} {% include 'inc/_sidebar.html' %} {%endblock%}
{% block content %} {% for item in news %}
<div class="card mb-3">
	<div class="card-header">
		Категория:
		<a href="{{ item.category.get_absolute_url }}">{{item.category}}</a>
	</div>
	<div class="card-body">
		<div class="media">
			{% if item.photo %}
			<img
				class="mr-3"
				src="{{ item.photo.url }}"
				alt="news-photo"
				width="350px"
			/>
			{% else %}
			<img
				class="mr-3"
				src="https://picsum.photos/536/354"
				alt="lorem"
				width="350px"
			/>
			{% endif %}
			<div class="media-body">
				<h5 class="card-title">{{ item.title }}</h5>
				<p class="card-text">
					{{ item.content|safe|linebreaks|truncatewords:40 }}
				</p>
				<a
					href="{{ item.get_absolute_url }}"
					class="btn btn-primary"
					>К новости</a
				>
			</div>
		</div>
	</div>
	<div class="card-footer text-muted">
		{{ item.creates_at|date:"Y-m-d H:i" }}
	</div>
</div>
{%endfor%} {%endblock%}
