{% extends 'base.html' %} {%block title%} {{news_item.title}} :: {{block.super}}
{%endblock%} {% block sidebar %} {% include 'inc/_sidebar.html' %} {%endblock%}
{% block content %}
<div class="card mb-3">
	<div class="card-header">
		Категория:
		<a href="{{ news_item.category.get_absolute_url }}"
			>{{news_item.category}}</a
		>
	</div>
	<div class="card-body">
		{% if news_item.photo %}
		<img
			class="mr-3 mb-1 float-left"
			src="{{ news_item.photo.url }}"
			alt="news-photo"
			width="350px"
		/>
		{% else %}
		<img
			class="mr-3 float-left"
			src="https://picsum.photos/536/354"
			alt="lorem"
			width="350px"
		/>
		{% endif %}

		<h5 class="card-title">{{ news_item.title }}</h5>
		<p class="card-text">{{ news_item.content }}</p>
	</div>
	<div class="card-footer text-muted">
		{{ news_item.creates_at|date:"Y-m-d H:i" }}
	</div>
</div>
{%endblock%}
